<div class="add-row">
	<button mat-stroked-button color="primary" (click)="openAdd()">
		<mat-icon>add</mat-icon>
		Add To-Do
	</button>
</div>

<mat-list class="todo-list" cdkDropList (cdkDropListDropped)="dropDemo($event)">
	@for (item of demoTodos(); track item.toDoId) {
		<mat-list-item
			class="todo-item"
			[style.--todo-item-color]="itemColor(item)"
			cdkDrag
			(dblclick)="openEdit(item)"
		>
			<mat-checkbox
				matListItemIcon
				[checked]="item.isCompleted"
				(change)="toggleComplete(item)"
				[attr.aria-label]="item.isCompleted ? 'Mark todo as incomplete' : 'Mark todo as complete'"
			></mat-checkbox>
			<span matListItemTitle>{{ firstLine(item.toDoText) }}</span>
			<div matListItemMeta class="todo-actions">
				<button mat-icon-button color="primary" aria-label="Edit todo" (click)="openEdit(item)">
					<mat-icon>edit</mat-icon>
				</button>
				<button mat-icon-button cdkDragHandle aria-label="Reorder todo">
					<mat-icon>drag_handle</mat-icon>
				</button>
			</div>
		</mat-list-item>

		@if (!$last) {
			<mat-divider></mat-divider>
		}
	}
</mat-list>




